{% for intf, data in result.structured.items() %}
{% if intf in old.interfaces %}
{% if data.switchport_mode == 'static access' %}
{% set mode = 'access' %}
{% elif data.switchport_mode == 'dynamic auto' %}
{% set mode = '' %}
{% else %}
{% set mode = data['switchport_mode'] %}
{% endif %}
{% if old['interfaces'][intf]['mode'] and old['interfaces'][intf]['mode'] != mode %}
Для интерфейса {{ intf }} задан параметр mode: {{ old['interfaces'][intf]['mode'] }}, но настроен {{ mode }}
{% elif old['interfaces'][intf]['mode'] and not mode %}
Для интерфейса {{ intf }} задан параметр mode: {{ old['interfaces'][intf]['mode'] }}, но не настроен
{% elif not old['interfaces'][intf]['mode'] and mode %}
Для интерфейса {{ intf }} не задан параметр mode, но настроен {{ mode }}
{% endif %}
{% if 'access' in data.switchport_mode %}
{% if 'access_vlan' in data and data.access_vlan and data.access_vlan != '1' %}
{% set vlan_access = data.access_vlan | int %}
{% else %}
{% set vlan_access = '' %}
{% endif %}
{% if old['interfaces'][intf]['vlan_access'] and vlan_access and old['interfaces'][intf]['vlan_access'] != vlan_access %}
Для интерфейса {{ intf }} задан параметр vlan_access: {{ old['interfaces'][intf]['vlan_access'] }}, но настроен {{ vlan_access }}
{% elif old['interfaces'][intf]['vlan_access'] and not vlan_access %}
Для интерфейса {{ intf }} задан параметр vlan_access: {{ old['interfaces'][intf]['vlan_access'] }}, но не настроен
{% elif not old['interfaces'][intf]['vlan_access'] and vlan_access %}
Для интерфейса {{ intf }} не задан параметр vlan_access, но настроен {{ vlan_access }}
{% endif %}
{% endif %}
{% if 'trunk' in data.switchport_mode %}
{% if 'trunk_vlans' in data and data.trunk_vlans %}
{% if 'all' in data.trunk_vlans %}
{% set vlan_trunk = '' %}
{% else %}
{% set vlan_trunk = data.trunk_vlans %}
{% endif %}
{% else %}
{% set vlan_trunk = '' %}
{% endif %}
{% if old['interfaces'][intf]['vlan_trunk'] and old['interfaces'][intf]['vlan_trunk'] | string != vlan_trunk %}
Для интерфейса {{ intf }} задан параметр vlan_trunk: {{ old['interfaces'][intf]['vlan_trunk'] }}, но настроен {{ vlan_trunk }}
{% elif old['interfaces'][intf]['vlan_trunk'] and not vlan_trunk %}
Для интерфейса {{ intf }} задан параметр vlan_trunk: {{ old['interfaces'][intf]['vlan_trunk'] }}, но не настроен
{% elif not old['interfaces'][intf]['vlan_trunk'] and vlan_trunk %}
Для интерфейса {{ intf }} не задан параметр vlan_trunk, но настроен {{ vlan_trunk }}
{% endif %}
{% if 'encapsulation' in data and 'native_vlan' in data.encapsulation and data.encapsulation.native_vlan %}
{% if data.encapsulation.native_vlan == '1' or data.encapsulation.native_vlan == '0' %}
{% set vlan_native = '' %}
{% else %}
{% set vlan_native = data.encapsulation.native_vlan %}
{% endif %}
{% else %}
{% set vlan_native = '' %}
{% endif %}
{% if old['interfaces'][intf]['vlan_native'] and old['interfaces'][intf]['vlan_native'] | string != vlan_native %}
Для интерфейса {{ intf }} задан параметр vlan_native: {{ old['interfaces'][intf]['vlan_native'] }}, но настроен {{ vlan_native }}
{% elif old['interfaces'][intf]['vlan_native'] and not vlan_native %}
Для интерфейса {{ intf }} задан параметр vlan_native: {{ old['interfaces'][intf]['vlan_native'] }}, но не настроен
{% elif not old['interfaces'][intf]['vlan_native'] and vlan_native %}
Для интерфейса {{ intf }} не задан параметр vlan_native, но настроен {{ vlan_native }}
{% endif %}
{% endif %}
{% if 'voice_vlan' in data and data.voice_vlan and 'access' in data.switchport_mode %}
{% set vlan_voice = data['voice_vlan'] | int %}
{% else %}
{% set vlan_voice = '' %}
{% endif %}
{% if 'access' in data.switchport_mode %}
{% if old['interfaces'][intf]['vlan_voice'] and old['interfaces'][intf]['vlan_voice'] != vlan_voice %}
Для интерфейса {{ intf }} задан параметр vlan_voice: {{ old['interfaces'][intf]['vlan_voice'] }}, но настроен {{ vlan_voice }}
{% elif old['interfaces'][intf]['vlan_voice'] and not vlan_voice %}
Для интерфейса {{ intf }} задан параметр vlan_voice: {{ old['interfaces'][intf]['vlan_voice'] }}, но не настроен
{% elif not old['interfaces'][intf]['vlan_voice'] and vlan_voice %}
Для интерфейса {{ intf }} не задан параметр vlan_voice, но настроен {{ vlan_voice }}
{% endif %}
{% endif %}
{% if descr['structured']['interfaces'][intf]['description'] != '' %}
{% set description = descr['structured']['interfaces'][intf]['description'] %}
{% endif %}
{% if 'description' in old['interfaces'][intf] %}
{% if old['interfaces'][intf]['description'] and old['interfaces'][intf]['description'] != description %}
Для интерфейса {{ intf }} задан параметр description: {{ old['interfaces'][intf]['description'] }}, но настроен {{ description }}
{% elif old['interfaces'][intf]['description'] and not description %}
Для интерфейса {{ intf }} задан параметр description: {{ old['interfaces'][intf]['description'] }}, но не настроен
{% elif not old['interfaces'][intf]['description'] and description %}
Для интерфейса {{ intf }} не задан параметр description, но настроен {{ description }}
{% endif %}
{% endif %}
{% if descr['structured']['interfaces'][intf]['status'] == 'admin down' %}
{% set status = 'shutdown' %}
{% endif %}
{% if 'status' in old['interfaces'][intf] %}
{% if old['interfaces'][intf]['status'] and old['interfaces'][intf]['status'] != status %}
Для интерфейса {{ intf }} задан параметр status: {{ old['interfaces'][intf]['status'] }}, но настроен {{ status }}
{% elif old['interfaces'][intf]['status'] and not status %}
Для интерфейса {{ intf }} задан параметр status: {{ old['interfaces'][intf]['status'] }}, но не настроен
{% elif not old['interfaces'][intf]['status'] and status %}
Для интерфейса {{ intf }} не задан параметр status, но настроен {{ status }}
{% endif %}
{% endif %}
{% if not 'Port-channel' in intf and 'port_channel' in data %}
{% if 'Port-channel' in data['port_channel']['port_channel_int'] %}
{% set channel_group = data['port_channel']['port_channel_int'].replace('Port-channel', '') %}
{% endif %}
{% if 'channel_group' in old['interfaces'][intf] %}
{% if old['interfaces'][intf]['channel_group'] and old['interfaces'][intf]['channel_group'] != channel_group | int%}
Для интерфейса {{ intf }} задан параметр channel_group: {{ old['interfaces'][intf]['channel_group'] }}, но настроен {{ channel_group }}
{% elif old['interfaces'][intf]['channel_group'] and not channel_group %}
Для интерфейса {{ intf }} задан параметр channel_group: {{ old['interfaces'][intf]['channel_group'] }}, но не настроен
{% elif not old['interfaces'][intf]['channel_group'] and channel_group %}
Для интерфейса {{ intf }} не задан параметр channel_group, но настроен {{ channel_group }}
{% endif %}
{% endif %}
{% endif %}
{#
{% if ip['structured'][intf]['ip'] != 'unassigned' %}
{% set ip = ip['structured'][intf]['ip_address'] %}
{% if 'ip_address' in old['interfaces'][intf] %}
{% if old['interfaces'][intf]['channel_group'] and old['interfaces'][intf]['channel_group'] != channel_group | int%}
Для интерфейса {{ intf }} задан параметр channel_group: {{ old['interfaces'][intf]['channel_group'] }}, но настроен {{ channel_group }}
{% elif old['interfaces'][intf]['channel_group'] and not channel_group %}
Для интерфейса {{ intf }} задан параметр channel_group: {{ old['interfaces'][intf]['channel_group'] }}, но не настроен
{% elif not old['interfaces'][intf]['channel_group'] and channel_group %}
Для интерфейса {{ intf }} не задан параметр channel_group, но настроен {{ channel_group }}
{% endif %}
{% endif %}
{% endif %}
#}
{% endif %}
{% endfor %}
