@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background: linear-gradient(270deg, #9C9A9A 0%, #fff 100%);
  margin: 0;
  padding: 0;
  font-family: Roboto, serif;
}

h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.header-table h3 {
  margin-top: 0;
  margin-bottom: 8 px;
}

.header {
  background: bisque;
  border: 3px solid #000;
  border-color: black; 
  border-collapse: collapse;
  
}

.data {
  padding: 3px;
  text-align: center;
}

.intf td {
  padding: 0;
}

th, .gateway td {
  border: 2px solid black;
  padding: 0;
}

.gateway td {
  text-align: right;
}

td a {
  display: block;
  padding: 10px;
  border-style: solid;
  border-width: 0;
  text-decoration: none;
  background:rgb(166, 173, 175);
  color: black;
}

p {
  margin-left: 15px;
}

.main-dev-table p {
  text-align: right;
}

.main {
  display: flex;
  background: rgb(166, 173, 175);
  border-bottom-style: solid;
  border-color: rgb(51, 51, 51);
}

.menu {
  display: flex;
}

.menu a {
  display: block;
  padding: 10px;
  border-style: solid;
  border-width: 0;
  text-decoration: none;
  background: linear-gradient(180deg, #f0f1f1 0%, rgb(31, 96, 172) 100%);
  color: black;
}

.menu a:hover, .link-dev a:hover {
  background: #b9b9b9;  
}

td a:hover {
  background: #c2c2c2;
}

.link-dev {
  display: flex;
  background: linear-gradient(270deg, #607470 0%, rgb(31, 172, 165) 100%);

}

.link-dev a {
  display: block;
  padding-bottom: 5px;
  border-style: solid;
  border-width: 0;
  text-decoration: none;
  background: linear-gradient(180deg, #607470 0%, rgb(31, 172, 165) 100%);
  color: black;
}

.content {
  height: 85vh;
  overflow: auto;
}

.list-file-index {
  height: 85vh;
  overflow: auto;
}

.list-file-index a {
  display: flex;
  padding: 10px;
  border-style: solid;
  border-width: 0;
  text-decoration: none;
  background:rgb(228, 228, 228);
  color: black;
  margin: 0;
}

.list-file-index a:hover {
  background: #c2c2c2;
}

.list {
  display: inline-block;
  width: 22%;
}

.table-block {
  display: inline-block;
  width: 77%;
  vertical-align: top;
}

pre {
  font-size: 16px;
  margin: 0;
}

.back {
  transform: rotate(0.5turn) rotateX(0.5turn);
  font-size: 25px;
  display: inline-block;
  padding: 0;
}