{% extends 'base.html' %}
{% block title %}
Список портов устройства
{% endblock %}

{% block body %}
<div class="main-dev-table">
    <div class="link-dev"><a href="/">Список устройств</a></div>
    <div class="content">
        <div class="header-table">
            <h2 align="center">Список портов устройства ip: {{ ip }} hostname: {{ hostname }}</h2>
        </div>
        <div class="table">
            <table border="2" rules="all">
                <tr>
                    <th>Interface</th>
                    <th>description</th>
                    <th>mode</th>
                    <th>vlan_access</th>
                    <th>vlan_trunk</th>
                    <th>vlan_voice</th>
                    <th>vlan_native</th>
                    <th>channel_group</th>
                    <th>status</th>
                    <th>ip_mask</th>
                </tr>
                {% for intf, val in data.interfaces.items() %}
                {% set intf1 = intf.replace('/', '_') %}
        
                <tr>
                    <td>
                        <a href="/data/{{ file }}/{{ intf1 }}">{{ intf }}</a>
                    </td>
                    <td>{{ val.description }}</td>
                    <td>{{ val.mode }}</td>
                    <td>{{ val.vlan_access }}</td>
                    <td>{{ val.vlan_trunk }}</td>
                    <td>{{ val.vlan_voice }}</td>
                    <td>{{ val.vlan_native }}</td>
                    <td>{{ val.channel_group }}</td>
                    <td>{{ val.status }}</td>
                    {% if val and "ip" in val and val.ip %}
                    <td>{{ "ip: "+val.ip.replace(' ', ' mask: ') }}</td>
                    {% else %}
                    <td>{{ val.ip }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr class="gateway">
                    <td>Шлюз о умолчанию:</td>
                    <td colspan="9" align="right">{{ data.gateway }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!--<form method="post">-->
<!--<input type="submit" value="Создать конфиг">-->
<!--</form>-->
{% endblock %}