{% extends 'base.html' %}
{% block title %}
Список файлов для конфигурации
{% endblock %}

{% block body %}
<div class="main-index">
      <div class="head-index">
            <h2>Выберите файл, который необходимо изменить</h2>
      </div>
      <div class="list">
            <div class="list-file-index">
                  {% for files in onlyfiles %}
                  <a href="/data/{{ files }}">{{ files }}</a>
                  {% endfor %}
            </div>
      </div>
      <div class="table-block">
         {% block table %}
         {% endblock %}
      </div>
</div>
{% endblock %}